html{
    font-family:Arial,Helvetica,Sans-serif;
    color:#ffffff;
    margin:16pt;
    margin-top:50pt
}

body{
    background-color:#3C2F4A;
}

h1{
    text-align:center;
}

.navbar {
    font-size:16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #573C78;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 50px;
    whitespace: nowrap;
}

input, button {
    border:0;
    border-radius:100px;
    padding-left:10px;
    padding-vertical:5px;
}

button {
    padding-right:10px;
}

#popup {
    position:fixed;
    bottom:1em;
    right:1em;
    width:250px;
    height:50px;
    background-color:#573C78;
    padding:10px;
    border: 3px solid #2B1E39;
}

.menu {
    background-color: #573c78;
    padding: 10px;
    border: 3px solid #2b1E39;
}

a {
    color:#fff;
}

.side-line {
    display: flex;
    align-items: center;
    gap: 20px;
}

.side-line::after{
    content: "";
    flex: 1;
    height: 1px;
    background-color: #fff;
}

hr {
    display:flex;
    align-items:center;
    border:none;
}

hr::after{
    content: "";
    flex: 1;
    height: 1px;
    background-color: #fff;
}

@keyframes blur-in {
    from {width: 0; height: 0; opacity: 0; border-radius: 0; font-size: 0.01em}
    to {width: 100px; height: 100px; opacity: 1; border-radius: 10px; font-size: 1em;}
}

.blur-in {
  animation: blur-in 0.2s ease-out forwards;
}
